<h1>Test 1</h1>

<p>
	Create a reactive form with the following fields:
</p>

<ul>
	<li><strong>name</strong>: text input</li>
	<li><strong>type</strong>: dropdown with values: 'Car', 'Bike'</li>
</ul>

<p>
	When a value in the <strong>type</strong> dropdown is selected, another field
	should be added based on the type. If it's "car", add a text input with the
	name <strong>brand</strong>. If it's "bike", add a text input with the name
	<strong>color</strong>. Be sure to remove the other input, when the type
	changes, so that it's value is not part of the final object.
</p>

<p>
	All fields are required.
</p>

<p>
	A submit button should log the value of the form to the console, but should
	only be enabled if the form is valid.
</p>

<form>
	<div>
		Name:
		<input />
  </div>

		<div>
			Type:
			<select>
      <option></option>
      <option value="car">Car</option>
      <option value="bike">Bike</option>
    </select>
		</div>

		<div *ngIf="true">
			<!-- only show if "type" is "car" -->
			Brand:
			<input />
  </div>

			<div *ngIf="true">
				<!-- only show if "type" is "bike" -->
				Color:
				<input />
  </div>

				<button>Submit</button>
</form>