<h1>Test 1</h1>

<p>
	Create a reactive form with the following fields:
</p>

<ul>
	<li><strong>name</strong>: text input</li>
	<li><strong>type</strong>: dropdown with values: 'Car', 'Bike'</li>
</ul>

<p>
	When a value in the <strong>type</strong> dropdown is selected, another field
	should be added based on the type. If it's "car", add a text input with the
	name <strong>brand</strong>. If it's "bike", add a text input with the name
	<strong>color</strong>. Be sure to remove the other input, when the type
	changes, so that it's value is not part of the final object.
</p>

<p>
	All fields are required.
</p>

<p>
	A submit button should log the value of the form to the console, but should
	only be enabled if the form is valid.
</p>
<div class="form-container">
	<form [formGroup]="test1FormGroup" (ngSubmit)="submitTestForm()" novalidate>
		<ng-container *ngFor="let field of formFields">
			<div class="form-group">
				<label [for]="field.name">{{field.label}}</label>
				<ng-container *ngIf="field.fieldType==='text'">
					<input [type]="field.fieldType" [id]="field.name" [formControlName]="field.name" class="form-control">
        </ng-container>
					<ng-container *ngIf="field.fieldType==='select'">
						<select  [id]="field.name" [formControlName]="field.name" class="form-control">
            <option value="">Please Select</option>
            <ng-container *ngIf="field.options">
              <option *ngFor="let opt of field.options" [value]="opt.value">{{opt.name}}</option>
            </ng-container>
          </select>
					</ng-container>
					<div *ngIf="test1FormGroup.controls[field.name].touched &&
                test1FormGroup.controls[field.name].invalid" class="alert-danger">
						<span *ngIf="test1FormGroup.controls[field.name].errors.required">This Field is required*</span>
					</div>
			</div>
		</ng-container>
		<button [disabled]="!test1FormGroup.valid" [class.disabled]="!test1FormGroup.valid" type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>